body {
  background: #000;
  color: #eee;
  font-style: sans-serif;
}
#wrapper {
  width: 512px;
  margin: 10px auto;
}

#game {
  height: 512px;
  width: 512px;
  position: relative;
}

#game > * {
  position: absolute;
}

#overlay {
  width: 512px;
  height: 512px;
  text-align: center;
  background: #000;
  opacity: 0;
}
#overlay.intro.fadeout {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  opacity: 0;
}
#overlay.over {
}
#overlay.visible {
  opacity: 0.6;
}
#overlay h1 {
  font-size: 2.8em;
  font-weight: bold;
  margin-top: 45%;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 0.2em #000;
}

#score {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: monospace;
  font-weight: bold;
  font-size: 2em;
}

#gamefeedback div {
  position: absolute;
  width: 512px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000;
}

#gamefeedback div.release {
  transition: 1s;
  -webkit-transform: translate(0px, -100px);
  -moz-transform: translate(0px, -100px);
  opacity: 0;
}
