body {
  background: #000;
  color: #eee;
  font-style: Verdana, sans-serif;
}
#wrapper {
  width: 500px;
  margin: 10px auto;
  position: relative;
}

#wrapper > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
}

#overlay {
  text-align: center;
  background: #000;
  opacity: 0.7;
  display: none;
}
#overlay.visible {
  display: block;
}
#overlay h1 {
  margin-top: 40%;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px #000;
}
