<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="style.css" />
  <title>Timelapse</title>
  </head>
  <body>
  <div id="w">
    <div id="g">
    <canvas id="v" width=512 height=512></canvas>
    <div id="gf">
    </div>
    <div id="t"></div>
    <div id="o" class="v">
      <h1 id="m">...</h1>
      <h2 id="fm"></h2>
    </div>
    <div id="s">0</div>
    <div id="i" style="display:none">
      <h1>Timelapse</h1>
      <a id="p" href="#skip">Play</a>
      <h2>Tips</h2>
      <ul>
      <li>Drop the beats with SPACE!
      <li>Choose your speed, Don't go too fast!
      <li>Rush to make the best score in one minute!
      <li>Shred the Freestyle section!
      </ul>
    </div>
  </div>
  <div id="h">
    <h1>Your highscores</h1>
    <ul id="hs"></ul>
  </div>
  <footer>
    @greweb - 2013 - js13kgames
  </footer>
  </div>
<script id="sh" type="x-shader/x-fragment">
{{include 'game.glsl'}}
</script>
<script src="all.js"></script>
  </body>
</html>
