body {
  background: #000;
  color: #eee;
  font-family: monospace;
}
* {
  -webkit-user-select: none;
  user-select: none;
}
#wrapper {
  width: 512px;
  margin: 10px auto;
}

a {
  color: #FFF;
  text-decoration: none;
}

#intro {
  text-shadow: 0em 0.05em 1.4em #4AF;
}

#intro h1 {
  font-size: 6em;
  text-align: center;
  color: #6AF;
  margin: 0;
}
h2 {
  font-style: italic;
}

#play {
  color: #6FA;
  text-shadow: 0em 0.05em 1.4em #4FA;
  font-size: 3em;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 40px;
}
#play:hover {
  color: #fff;
  text-shadow: 0em 0.05em 1.4em #fff;
  transition: 0.5s;
}

#game {
  height: 512px;
  width: 512px;
  position: relative;
}

#game > * {
  position: absolute;
}

#intro {
  width: 512px;
  height: 512px;
  background: #000;
}

#overlay {
  width: 512px;
  height: 512px;
  text-align: center;
  background: #000;
  opacity: 0;
}
#overlay.intro.fadeout {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  opacity: 0;
}
#overlay.visible.over {
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
  opacity: 1;
}
#overlay.visible {
  opacity: 0.6;
}
#overlay.over h1 {
  margin-top: 30%;
}
#overlay h1 {
  font-size: 2.8em;
  font-weight: bold;
  margin-top: 45%;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 0.2em #000;
}

#time {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #fff;
  font-size: 1em;
}
#time.hl {
  color: #f00;
  font-size: 3.5em;
  font-weight: bold;
}

#score {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  font-size: 3em;
  color: #FFF;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

#score.decr {
  text-shadow: 0em 0em 0.1em #F00;
  color: #F00;
  transition: 0s;
  -webkit-transition: 0s;
}

#score.incr {
  text-shadow: 0em 0em 0.1em #0F0;
  color: #0F0;
  transition: 0s;
  -webkit-transition: 0s;
}

#gamefeedback div {
  position: absolute;
  width: 512px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000;
}

#gamefeedback div.release {
  transition: 1s;
  -webkit-transform: translate(0px, 100px) scale(0) rotate(500deg);
  -moz-transform: translate(0px, 100px) scale(0) rotate(500deg);
  opacity: 0;
}
